<!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
<nav class="navbar">
    <ul>
        <div class="nav-container">
            <a href="#">
                <div class="current-container">
                    <a (click)="displayMenu()"><i class="fa fa-3x fa-bars" title="bars"></i></a>
                    <a href="/home" class='current-link'><li class="current">Home</li></a>
                </div>
            </a>
        <!-- <li><a href="#" class="nav-item">Home</a></li> -->
        <li class="nav-li-item"><a href="#" class="nav-item">Cards</a></li>
        <li class="nav-li-item"><a href="/exercises" class="nav-item">Exercises</a></li>
        <li class="nav-li-item"><a href="#" class="nav-item">Learning</a></li>
        </div>
    </ul>
</nav>