<div class="main-container">
<div class="instructions-container" *ngIf="!exerciseStarted">
  <div class="top-component">
    <img class="exercise-img" src="assets/cali.jpg">
    <div class="exercise-title">
      <p class="title">Drawing exercise</p>
      <button class="bx--btn bx--btn--tertiary" (click)="onStartExercise()" type="button">Start <i class="fa fa-play-circle"></i></button>
    </div>
  </div>
  <div class="setting-menu">
    <ul>
      <li class="active" (click)="summaryClicked($event)">Summary</li>
      <li (click)="exerciseSettingsClicked($event)">Exercise settings</li>
      <li (click)="languageSettingsClicked($event)">Language settings</li>
    </ul>
  </div>
</div>
  <div class="setting-content">
    <app-exercise-summary *ngIf="activeSetting === 'summary'" [exercise]="exercise" ></app-exercise-summary>
    <div *ngIf="activeSetting === 'exercise-settings'">Exercise settings</div>
    <div *ngIf="activeSetting === 'language-settings'">Language settings</div>
  </div>
</div>